body {
   font-family: 'Ubuntu', sans-serif;
   margin: 0px;
}

#head {
   display: flex;
   color: white;
   background-color: rgba(53, 58, 64, 255);
   text-align: center;
   width: 100%;
   height: 60px;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0px 8px 20px black;
}

#head img {
   width: 30px;
}

#head nav {
   display: flex;
   align-items: center;
}

#head form {
   margin-right: 20px;
}

#search {
   margin-right: 10px;
   color: black;
   height: 35px;
   width: 250px;
   border-radius: 10px;
   text-align: center;
}

#head h1 {
   font-size: 25px;
   margin: 5px;
}

#head a {
   text-decoration: none;
   opacity: 0.5;
   margin: 5px;
}

#head #logout {
   opacity: 1;
}

#head a:hover {
   opacity: 1;
   transition: 0.5s;
}

#head button {
   background-color: rgba(53, 58, 64, 255);
   border: 2px solid white;
   color: white;
   border-radius: 10px;
   padding: 8px;
}

#head a,
#head button {
   font-size: 17px;
   color: white;
}

#hc,
#hnc {
   font-size: 12px;
   margin: 10px 6px;
}

#hnc {
   color: rgba(78, 119, 191, 255);
}

/* ------------------------------ */
/* ADD */

#add {
   display: flex;
   flex-direction: column;
   padding: 10px 100px;
}

#add #addta {
   display: flex;
   justify-content: space-between;
}

#add #addta div {
   width: 50%;
}

#add div {
   display: flex;
   flex-direction: column;
}

#add #addrole div {
   flex-direction: row;
}

#add label {
   margin: 5px;
}

#add input {
   border: 1px solid gray;
   border-radius: 5px;
   margin: 5px;
   height: 25px;
}

#add input:focus {
   border: 1px solid black;
}

#add #addrole #arole {
   flex-direction: column;
}

#add #reatext {
   width: 48%;
}

#add #arole input {
   margin-right: 15px;
   height: 35px;
}

#add .perso {
   width: 30%;
}

#add .name {
   width: 20%;
}

#add button {
   background-color: rgba(107, 118, 122, 255);
   color: white;
   border-radius: 5px;
}

#add #arole button {
   max-height: 30px;
   margin-top: 10px;
}

#add #sender {
   margin-top: 15px;
   flex-direction: row;
   justify-content: center;
}

#add #finnalbutton {
   background-color: rgba(2, 120, 254, 255);
   height: 30px;
}
