body {
   font-family: 'Ubuntu', sans-serif;
   margin: 0px;
}

header {
   display: flex;
   color: white;
   background-color: rgba(53, 58, 64, 255);
   text-align: center;
   width: 100%;
   align-items: center;
}

footer {
   position: fixed;
   bottom: 0px;
}
