<form action="new_film" method="POST" id="add">
	<section id="addta">
		<div>
			<label for="titre">Titre</label>
			<input type="text" name="titre" required>
		</div>
		<div>
			<label for="annee">Année</label>
			<input type="number" name="annee" min="1888" max="2023" required>
		</div>
	</section>
	<div>
		<label for="affiche">Affiche</label>
		<input type="text" name="affiche" required>
	</div>
	<div>
		<label for="realisateur">Réalisateur</label>
		<input id="reatext" type="text" name="realisateur" required>
	</div>
	<section id="addrole">
		<div>
			<label for="ajrole">Rôle(s)</label>
			<button type="button" name="ajrole" onclick="add()">Ajouter</button>
		</div>
		<div id="arole">
			<div>
				<input type="text" name="personnage_1" class="perso" placeholder="Personnage" required>
				<input type="text" name="nom_1" class="name" placeholder="Nom" required>
				<input type="text" name="prenom_1" class="name" placeholder="Prenom" required>
			</div>
		</div>
	</section>
	<div id="sender">
		<button id="finnalbutton" type="submit">Créer</button>
	</div>
</form>
<script src="view/web/js/script.js"></script>
<div>
	{# Affiche l'état de l'ajout du film #}
	<p>{{message}}
	</p>
</div>
