{% if session.user is null %}

	<form method="POST" action="register" class="register">
		<div>
			<label for="Username">Username :
			</label>
			<input type="Username" name="username" required>
		</div>
		<div>
			<label for="email">Email :
			</label>
			<input type="email" name="email" required>
			<p class="warning">{{errMsg}}</p>
		</div>
		<div>
			<label for="pw">Mot de passe :
			</label>
			<input type="password" name="pw">
		</div>
		<div>
			<label for="pw">Confirmer le mot de passe :
			</label>
			<input type="password" name="confirmPW">
		</div>
		<input type="submit" name="register" required>
		<p>{{msg}}</p>
	</form>

{% endif %}

<form method="POST" action="user" class="register">
	<div>
		<label for="email">Email :
		</label>
		<input type="email" name="email" required>
	</div>
	<div>
		<label for="pw">Mot de passe :
		</label>
		<input type="password" name="pw" required>
	</div>
	<input type="submit" name="user" required>
</form>


